
@{
    ViewBag.Title = "Forgotpswd";
    Layout = "../Shared/_LayoutAuth.cshtml";

}

<div class="account-content">
    <div class="login-wrapper">
        <div class="login-content">
            <div class="login-userset ">
                <div class="login-logo">
                    <img src="~/Content/img/mylogo.png" alt="img">
                </div>
                <div class="login-userheading">
                    <h3>Forgot password?</h3>
                    <h4>
                        Don’t worry! it happens. Please enter the address <br>
                        associated with your account.
                    </h4>
                </div>
                <div class="form-login">
                    <label>Email</label>
                    <div class="form-addons">
                        <input type="text" placeholder="Enter your email address">
                        <img src="~/Content/icons/mail.svg" alt="img">
                    </div>
                </div>
                <div class="form-login">
                    <a class="btn btn-login" href="@Url.Action("login","Authentication")">Submit</a>
                </div>
            </div>
        </div>
        <div class="login-img">
            <img src="~/Content/img/login.jpg" alt="img">
        </div>
    </div>
</div>


